body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.rule {
    font-weight: bold;
}